[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[dev-packages]
astpretty = {extras = ["typed"], version = "*"}
black = "==20.8b1"
httpie = "*"
ipython = "*"
isort = "*"
jedi = "<0.18.0"
pudb = "*"
pytest = "*"
pytest-mock = "*"
pytest-selenium = "*"


[packages]
dynaconf = {extras = [ "yaml",], version = "*"}
gunicorn = "*"
psycopg2-binary = "*"
pydantic = "*"
requests = "*"
sentry-sdk = "*"
toml = "*"
