{% extends "_base.html" %}
{% block title %}Задание 3.03{% endblock %}
{% block heading %}Задание 3.03{% endblock %}
{% block main %}
    <section>
        <h2>Условие</h2>
        <p>Ввести предложение состоящее из двух слов.</p>
        <p>
            Поменять местами слова, добавить восклицательный знак в начало и конец,
            вывести итоговое предложение на экран.
        </p>
        <form action="/tasks/303/" method="post">
            <label for="id_sentence">Предложение:</label>
            <input id="id_sentence" name="sentence" placeholder="два слова" type="text" value="{{ sentence }}">
            <button id="id_submit" type="submit">Выполнить</button>
        </form>
    </section>
    <section>
        <h2>Результат</h2>
        <p><span id="id_result">{{ result }}</span></p>
    </section>
{% endblock %}
