<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Z43</title>
    <meta charset="UTF-8">
</head>
<body>
<article>
    <h1>Z43: {random_number}</h1>
    <section>
        <h2>Задачи</h2>
        <ul>
            <li>
                <p>Урок 1</p>
                <ul>
                    <li><a href="/tasks/1/103/">Задача 1.03</a></li>
                </ul>
            </li>
            <li>
                <p>Урок 3</p>
                <ul>
                    <li><a href="/tasks/3/303/">Задача 3.03</a></li>
                </ul>
            </li>
        </ul>
    </section>
</article>
</body>
</html>
